{% extends "base_with_nav.html" %}

{% block page_content %}
    <div class="container">
        <div class="page-header">
            <h1>Projects</h1>
        </div>
        <div class="list-group">
        {% for project in projects %}
          <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">
                {% if not project.public %}
                <i class="fa fa-lock"></i>&nbsp;
                {% endif %}
                {{ project.name }}
            </h4>
            <p class="list-group-item-text">
                <span class="text-muted">created {{ project.created|pretty_date }}</span>
                <span class="pull-right">
                    <i class="fa fa-inbox"></i>&nbsp;
                    {{ project.message_count }}
                </span>
            </p>
          </a>
        {% endfor %}
        </div>
    </div>
{% endblock %}