{% extends "base_with_nav.html" %}
{% import "ui/forms.html" as forms %}

{% block style %}
  {{ super() }}
  <style>
  tr td .row-hover {
    visibility: hidden;
  }

  tr:hover td .row-hover {
    visibility: visible;
  }
  </style>
{% endblock %}

{% block page_content %}
<div class="container">
  <div class="page-header">
    <h1>{{ project.owner.username }} / {{ project.name }}</h1>
  </div>
  
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Service Hooks</h3>
        </div>
        {% if project.hooks %}
        <div class="list-group">
          {% for hook in project.hooks %}
            {% set hook_name = hook.hook.SERVICE_NAME %}
            <a class="list-group-item" href="#">
              <span class="badge">{{ hook.message_count }}</span>
              {{ hook_name }}
            </a>
          {% endfor %}
        </div>
        {% else %}
        <div class="alert alert-info td-c">
          No service hooks have been setup for this project.
        </div>
        {% endif %}
        <div class="panel-footer clearfix">
          <a class="btn btn-success pull-right" href="#">
            <i class="fa fa-plus"></i> Add Service Hook
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">IRC Channels</h3>
        </div>
        {% if project.channels %}
        <div class="list-group">
          {% for channel in project.channels %}
          <a class="list-group-item" href="#">
            {{ channel.channel }}
            <span class="text-muted">
            on
            </span>
            {{ channel.host }}
          </a>
          {% endfor %}
        </div>
        {% else %}
        <div class="alert alert-info td-c">
          No channels have been setup for this project.
        </div>
        {% endif %}
        <div class="panel-footer clearfix">
          <a class="btn btn-success pull-right" href="#">
            <i class="fa fa-plus"></i> Add Channel
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}