{% macro render_field(field) %}
<div class="form-group {% if field.errors %}has-error{% endif %}">
    <label for="{{ field.id }}">
        {{ field.label.text }}
        {% if field.flags.required %}
        <span class="required">*</span>
        {% endif %}
    </label>
    {{ field(class="form-control", **kwargs)|safe }}
    {% if field.errors %}
    {% for error in field.errors %}
    <p class="form-block text-danger">{{ error }}</span>
    {% endfor %}
    {% endif %}
    {% if field.description %}
    <p class="form-block text-muted">
        {{ field.description|safe }}
    </p>
    {% endif %}
</div>
{% endmacro %}