{% extends "base_with_nav.html" %}
{% import "ui/forms.html" as forms %}

{% block page_content %}
<div class="container">
    <div class="page-header">
        <h1>Login</h1>
    </div>
    <div class="row">
        <div class="col-md-4">
            <form role="form" class="form" method='POST' action="{{ request.url }}">
                {{ form.hidden_tag() }}
                {{ forms.render_field(form.username) }}
                {{ forms.render_field(form.password) }}
                <button type="submit" class="btn btn-success">
                    <i class="fa fa-sign-in"></i> Login
                </button>
                &nbsp;
                <a href="{{ url_for('.register') }}" class="btn btn-primary">
                    <i class="fa fa-plus"></i> Sign Up
                </a>
                {% if config.NOTIFICO_PASSWORD_RESET %}
                <br />
                <small class="muted">
                    <a href="{{ url_for('.forgot_password') }}">Lost your password?</a>
                </small>
                {% endif %}
            </form>
        </div>
    </div>
</div>
{% endblock %}