<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page_title|default('Notifico') }}</title>

    <!-- START Page Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if page_description %}
    <meta name="description" content="{{ page_description }}">
    {% endif %}
    {% if page_author %}
    <meta name="author" content="{{ page_author }}">
    {% endif %}
    <!-- END Page Meta -->

    <!-- START CSS Stylesheets -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    {% block style %}
    {% endblock style %}
    <!-- END CSS Stylesheets -->

    {% if config.GOOGLE %}
    <!-- START Google Analytics -->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '{{ config.GOOGLE }}']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    <!-- END Google Analytics -->
    {% endif %}
  </head>
  <body>
    <!-- START block content -->
    {% block content %}
    {% endblock %}
    <!-- END block content -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/js/jquery.min.js"><\/script>')</script>
    <script src="/js/bootstrap.js"></script>
    {% block footer_script %}
    {% endblock %}
  </body>
</html>
